<html>
<head>
    <title>비밀번호 변경</title>
    <meta charset="UTF-8">
</head>

<script type="text/javascript">
    var prefixPath = "";

    function onload() {
        prefixPath = document.getElementsByName("prefixPath")[0].value;
    }

    function validatePassword (pw, options) {
        // default options (allows any password)
        var o = {
            lower:    0,
            upper:    0,
            alpha:    0, /* lower + upper */
            numeric:  0,
            special:  0,
            length:   [0, Infinity],
            custom:   [ /* regexes and/or functions */ ],
            badWords: [],
            badSequenceLength: 0,
            noQwertySequences: false,
            noSequential:      false
        };

        for (var property in options)
            o[property] = options[property];

        var re = {
                lower:   /[a-z]/g,
                upper:   /[A-Z]/g,
                alpha:   /[A-Z]/gi,
                numeric: /[0-9]/g,
                special: /[\W_]/g
            },
            rule, i;

        // enforce min/max length
        if (pw.length < o.length[0] || pw.length > o.length[1])
            return false;

        // enforce lower/upper/alpha/numeric/special rules
        for (rule in re) {
            if ((pw.match(re[rule]) || []).length < o[rule])
                return false;
        }

        // enforce word ban (case insensitive)
        for (i = 0; i < o.badWords.length; i++) {
            if (pw.toLowerCase().indexOf(o.badWords[i].toLowerCase()) > -1)
                return false;
        }

        // enforce the no sequential, identical characters rule
        if (o.noSequential && /([\S\s])\1/.test(pw))
            return false;

        // enforce alphanumeric/qwerty sequence ban rules
        if (o.badSequenceLength) {
            var lower   = "abcdefghijklmnopqrstuvwxyz",
                upper   = lower.toUpperCase(),
                numbers = "0123456789",
                qwerty  = "qwertyuiopasdfghjklzxcvbnm",
                start   = o.badSequenceLength - 1,
                seq     = "_" + pw.slice(0, start);
            for (i = start; i < pw.length; i++) {
                seq = seq.slice(1) + pw.charAt(i);
                if (
                    lower.indexOf(seq)   > -1 ||
                    upper.indexOf(seq)   > -1 ||
                    numbers.indexOf(seq) > -1 ||
                    (o.noQwertySequences && qwerty.indexOf(seq) > -1)
                ) {
                    return false;
                }
            }
        }

        // enforce custom regex/function rules
        for (i = 0; i < o.custom.length; i++) {
            rule = o.custom[i];
            if (rule instanceof RegExp) {
                if (!rule.test(pw))
                    return false;
            } else if (rule instanceof Function) {
                if (!rule(pw))
                    return false;
            }
        }

        // great success!
        return true;
    }

    var isPassPassword1 = false;
    var isPassPassword2 = false;

    var passwordOption = {
        length: [8],
        lower: 1,
        upper: 0,
        numeric: 1,
        special: 0,
        // badWords: ["password", "1234", "5678", "abcd", "asdf"],
        badWords: [],
        badSequenceLength: 0
    };

    function checkPassword1 () {
        var password1 = document.getElementsByName("password1")[0].value;
        isPassPassword1 = validatePassword(password1,passwordOption);
    }

    function checkPassword2 () {
        var password1 = document.getElementsByName("password1")[0].value;
        var password2 = document.getElementsByName("password2")[0].value;
        if(password1==password2)
            isPassPassword2 = true;
        else
            isPassPassword2 = false;
    }

    function submitOnClick () {
        var submitObject = document.getElementsByName("submit");
        var passwordform = document.getElementById("passwordform");

        if ( isPassPassword1 ) {
            if ( isPassPassword2 ) {
                if( confirm('비밀번호를 변경하시겠습니까?') ) {
                    passwordform.action =  "../../../../../.."+prefixPath+"/member/change-password3";
                    submitObject.submit();
                    return true;
                } else {
                    return false;
                }
            } else {
                alert("첫번째 비밀번호와 두번째 비밀번호가 일치해야 합니다.");
                return false;
            }
        } else {
            alert("첫번째 비밀번호의 규칙을 확인 하세요.");
            return false;
        }
        return false;
    }

</script>

<body onload="onload()">
<input type="hidden" name="prefixPath" th:value="${prefixPath}"/>

    <form id="passwordform" name="passwordform" method="post" onSubmit="return submitOnClick();">

        <th:block th:if="${result.result==1}">
            <input type="hidden" name="memberId" th:value="${result.memberId}"/>
            <input type="hidden" name="dueDateTime" th:value="${result.dueDateTime}"/>
            8자리 이상, 숫자 1개 이상이 포함되어야 합니다.
            <br>
            <br>
            <input type="password" id="password1" name="password1" placeholder="비밀번호" size="20" onkeyup="checkPassword1()">
            <br>
            <br>
            <input type="password" id="password2" name="password2" placeholder="비밀번호 확인" size="20" onkeyup="checkPassword2()" >
            <br>
            <br>
            <input type="submit" name="submit" value="저장">
        </th:block>

        <th:block th:if="${result.result==0}">
            <br>
            변경 가능한 일시가 지났습니다.
            <br>
            다시 비빌번호 찾기를 다시 하시기 바랍니다.
        </th:block>

        <th:block th:if="${result.result==-1}">
            <br>
            에러가 발생했습니다.
        </th:block>

    </form>

</body>
</html>